.blog-image{
  position: relative;
}

.blog-title{
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
  width: 100%;
  opacity: .7;

}
.blog-date{
  float: right;
}
.img-caption{
  padding: 3px;
  position: relative;
  left: 15px;
}
.blog-view block{
margin-bottom: 1em;
border-bottom: 1px solid black;
}
.blog-list-title a{
  text-decoration: none;
}
.blog-list-title a:hover{
  text-decoration: underline;
}
.blog-list-date{
font-size: .8em;
color: gray;
}

.two-column-gallery-img{
  display: inline-block;
  width: 48%;
}
